In [6]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
                         "bar", "bar", "bar", "bar"],
                   "B": ["one", "one", "one", "two", "two",
                         "one", "one", "two", "two"],
                   "C": ["small", "large", "large", "small",
                         "small", "large", "small", "small",
                         "large"],
                   "D": [1, 2, 2, 3, 3, 4, 5, 6, 7]})

In [13]:
df_pivot = pd.pivot_table(df, values='D', index=['A', 'B'],
                          columns=['C'], aggfunc=np.sum)

In [14]:
df_gb = df.groupby(['A', 'B', 'C']).agg({'D' : np.sum}).unstack(level = 2)

In [16]:
df_gb

            D
C       large small
A   B
bar one   4.0   5.0
    two   7.0   6.0
foo one   4.0   1.0
    two   NaN   6.0

In [19]:
df_pivot

C        large  small
A   B
bar one    4.0    5.0
    two    7.0    6.0
foo one    4.0    1.0
    two    NaN    6.0