In [2]:
import pandas as pd
import numpy as np

https://seanlaw.github.io/2016/05/28/pandas-split-apply-combine-example/

In [2]:
df = pd.DataFrame({'Sender': ['Alice', 'Alice', 'Bob',   'Carl',   'Bob',   'Alice'],
                   'Receiver': ['David', 'Eric',  'Frank', 'Ginger', 'Holly', 'Ingrid'],
                   'Emails': [9, 3, 5, 1, 6, 7]})

In [3]:
df

   Emails Receiver Sender
0       9    David  Alice
1       3     Eric  Alice
2       5    Frank    Bob
3       1   Ginger   Carl
4       6    Holly    Bob
5       7   Ingrid  Alice

In [11]:
grouped = df.groupby('Sender')
grouped.groups

{'Alice': Int64Index([0, 1, 5], dtype='int64'),
 'Bob': Int64Index([2, 4], dtype='int64'),
 'Carl': Int64Index([3], dtype='int64')}

In [12]:
grouped.aggregate(np.sum)

        Emails
Sender
Alice       19
Bob         11
Carl         1

In [14]:
grouped['Receiver'].aggregate(lambda x: x.sum())

Sender
Alice    DavidEricIngrid
Bob           FrankHolly
Carl              Ginger
Name: Receiver, dtype: object

In [18]:
grouped.agg({'Receiver': {'Receiver_List': (lambda x: list(x))},
             'Emails': {'Total_Emails': np.sum}})

             Emails               Receiver
       Total_Emails          Receiver_List
Sender
Alice            19  [David, Eric, Ingrid]
Bob              11         [Frank, Holly]
Carl              1               [Ginger]

In [20]:
grouped.agg(np.sum) # nevime co s receivers, nejdou secist

        Emails
Sender
Alice       19
Bob         11
Carl         1

In [22]:
grouped.agg({'Receiver': lambda x: list(x),
             'Emails': np.sum})

        Emails               Receiver
Sender
Alice       19  [David, Eric, Ingrid]
Bob         11         [Frank, Holly]
Carl         1               [Ginger]

# apply() examples

In [10]:
df = pd.DataFrame({'one': np.random.rand(4),
                   'two': np.random.rand(4),
                   'three': np.random.rand(4),}, index=['a', 'b', 'c', 'd'])

df

        one     three       two
a  0.593417  0.162337  0.245018
b  0.165492  0.148663  0.492455
c  0.973261  0.285940  0.786159
d  0.176278  0.948796  0.513646

In [11]:
df.apply(np.mean) # axis=0 (columns)

one      0.477112
three    0.386434
two      0.509319
dtype: float64

In [12]:
df.apply(np.mean, axis=1) # axis=1 (rows)

a    0.333591
b    0.268870
c    0.681787
d    0.546240
dtype: float64

In [13]:
df.apply(np.sin)

        one     three       two
a  0.559197  0.161625  0.242574
b  0.164737  0.148116  0.472790
c  0.826725  0.282059  0.707645
d  0.175366  0.812715  0.491356

In [14]:
df.applymap(np.sin)

        one     three       two
a  0.559197  0.161625  0.242574
b  0.164737  0.148116  0.472790
c  0.826725  0.282059  0.707645
d  0.175366  0.812715  0.491356

In [16]:
df.apply(lambda x: x.max() - x.min())

one      0.807769
three    0.800133
two      0.541141
dtype: float64

In [17]:
df.apply(lambda x: x.max() - x.min(), axis=1)

a    0.431080
b    0.343791
c    0.687321
d    0.772518
dtype: float64

In [18]:
df.apply(lambda x: x['one'] + x['two'], axis=1)

a    0.838435
b    0.657946
c    1.759420
d    0.689924
dtype: float64

In [20]:
df.apply(lambda x: x.a + x.b, axis=0)

one      0.758908
three    0.311000
two      0.737473
dtype: float64