In [3]:
import sqlite3
import pandas as pd

In [4]:
users = pd.DataFrame({'name': ['adam', 'eve'], 'pwd': ['1234', '5678']})
user_name = "' OR '1'='1"

query = "SELECT * FROM users WHERE name = '" + user_name + "';"

In [8]:
try:
    conn = sqlite3.connect('../data/sqltest.sqlite3')
    users.to_sql('users', conn, if_exists='replace')
    print(pd.read_sql(query, conn))
finally:
    conn.close()

   index  name   pwd
0      0  adam  1234
1      1   eve  5678